<html>
 <head>
  <style>
    body
    {
    background-color:#F0F0F0;    
    }
    h2
    {
    padding-top:5%;
    font-size:5em;
    color:black;
    text-align:center;
    }
    h3
    {
    font-size:4em;
    color:#325532;
    text-align:center;
    }
    .ibutton
    {
    font-size:4em;
    color:#725532;
    text-align:center;
    }
    div.center
    {
    text-align:center;
    }
  </style>
 </head>
   <h2>Witaj!</h2>
   <h3>Witamy na elektronicznym kursie nauki.</h3>
   <div class="center"><input type="button" value="Etap I" class="ibutton"  onclick="location.href='/show'"/>
   <input type="button" value="Etap II" class="ibutton"  onclick="location.href='/choose'" />
   <input type="button" value="Etap III" class="ibutton"  onclick="location.href='/translate'" /><br/>
   <input type="button" value="Zmień słowa" class="ibutton"  onclick="location.href='/change'" />
   </div>
 </body>
</html>